<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary API</title>
</head>
<body>
<h1>This is my Dictionary API</h1>
<h2>This API return a json data with the definition of the word provide to a url user</h2>
<br>
<p>URL Format: http://127.0.0.1:5001/api/v1/word</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/sun</p>
<br>
<a href="http://127.0.0.1:5001/api/v1/sun">http://127.0.0.1:5001/api/v1/sun</a>
<br>
<p>The api return a json data:
{
    "word": word
    "definition": definition
    }
</p>



</body>
</html>