<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary API</title>
</head>
<body>
    <h1>Get word definitions with the Dictionary API</h1>
    <h2>This API return a json data with the definition of the word provide via url</h2>
    <br>
    <p>URL Format: http://127.0.0.1:5001/api/v1/word</p>
    <br>
    <p>The api return a json data:
        {   "word": word,
            "definition": definition   }
    </p>
    <br>
    <p>Example - To get the definition of the English word sun, you can send a request to: http://127.0.0.1:5001/api/v1/sun</p>
    <br>
    Try: <a href="http://127.0.0.1:5001/api/v1/sun">http://127.0.0.1:5001/api/v1/sun</a>

</body>
</html>